/* Import the package normalize.css */
@import 'normalize.css';

/* Import the different css style sheets */
@import 'variables.css';
@import 'typography.css';
@import 'structure.css';

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}