/* Standard sizes (desktop )*/
p, a {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-standard)
}

h6 {
    font-size: var(--font-size-base);
}

h5 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1.625rem;
}

h2 {
    font-size: 1.875rem;
}

h1 {
    font-size: 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-bold);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--color-black);
}

a {
    color: var(--color-accent);

    &:hover {
        color: var(--color-accent-light);
    }
}

/* Sizes for tablet */
@media (max-width: 1024px) {
    h6 {
        font-size: var(--font-size-base);
    }
    
    h5 {
        font-size: 1.125rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h1 {
        font-size: 2rem;
    }
}

/* Sizes for mobile */
@media (max-width: 640px) {
    h6 {
        font-size: 0.875rem;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 1.125rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }
    
    h2 {
        font-size: 1.625rem;
    }
    
    h1 {
        font-size: 1.75rem;
    }
}