:root {
    /* Colors */
    --color-accent: #4c2039;
    --color-accent-light: #734f64;
    --color-accent-dark: #1a0a14;

    --color-black: #111111;
    --color-grey: #878787;
    --color-white: #fdfdfd;

    /* Font */
    --font-family-display: 'Avenir Next', 'Avenir', sans-serif;
    --font-family-txt: 'Avenir Next', 'Avenir', sans-serif;

    --font-size-base: 16px;

    --font-weight-standard: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-xs: .5rem;
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;
    
    /* Radius */
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;
}